.sitebody{
　width: 100%;
　margin: 0px;
　font-size:13px;
　border: 1px solid gray;
　line-height: 150%;
}
.header{
　background-color:#FFD4D4;
　height:80px;
　text-align:center;
　line-height:80px;
}
.sidebar_left{
　background-color:#FFECC9;
　width:120px;
　height:400px;
　text-align:center;
　line-height:400px;
　float:left;
}
.sidebar_right{
　background-color:#FFECC9;
　width:120px;
　height:400px;
　text-align:center;
　line-height:400px;
　float:right;
}
.content{
　margin-left:120px;
　margin-right:120px;
　height:400px;
　background-color:#F2FFF2;
　text-align:center;
　line-height:400px;
}
.footer{
　clear:both;
　padding: 0.5em;
　background-color:#FFD4D4;
　height:80px;
　text-align:center;
　line-height:80px;
}
body{
    font-family:arial;
}